body{
    font-family: Arial, Helvetica, sans-serif
}
.card {
    width: 2.125in;
    height: 3.370in;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    
}

.card-header {
    background-color: #1fdcf8;
    color: #fff;
    text-align: center;
}
.card-header h1 {
        margin: 0px;
 }
 .card-header p{
    margin: 0px;
    padding: 0px 0px 1px;
    font-size: 21px;
    background: #ededed;
    color: #026981;
}
.card-header .image{
    width: 21px;
    height: 0px;
    border-left: 0px solid transparent;
    border-right: 206px solid transparent;
    border-bottom: 102px solid #6693ab;
}

.card-body {
    padding: 3px 8px;
}
.card-body .qrCode .canvas{
    width: 200px;
    height: 150px;
}

.student-photo {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 auto 1px;
    display: block;
    background: white;
    /* left: 50%; */
    position: absolute;
    top: 8px;
    left: 31%;
}

.student-info, .teacher-info {
    text-align: center;
}

.student-info h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.teacher-info h2{
    margin: 0;
    padding: 0;
    font-size: 15px;
    padding: 4px 1px;
    
}
.qrCode{
    margin: 7px 0px auto;
    padding: 1px 67px;
}
.teacherLine{
    height: 2px;
    margin-top: 2px;
}

.teacher{
    background-color: #2ba500;
}
.student{
    background-color: #00bddb;
}
.student-info p, .teacher-info p {
    margin: 5px 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}
.card-footer {
    color: #fff;
    padding: 15px;
    text-align: center;
    vertical-align: bottom;
    /* margin-top: 8px; */
}
.rollNumber{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tradeMark{
    transform: rotate(90deg);
    margin-left: 140px;
    margin-top: -103px;
    position: absolute;
    font-size: 10px ;
}

.multipleCards .specificDivClass{
    float: left;
    margin-left: 22px;
}
.multipleCards .specificDivClass .card{
    margin: 10px auto;
}
