@media print {
  html, body {
    width: 80mm !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Courier New', monospace;
    font-size: 12px;
  }

table {
    width: 76mm !important;
    max-width: 76mm !important;
}

  td, th {
    padding: 2px 0;
    text-align: left;
    font-size: 12px;
  }
}
